html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*********** TYPOGRAPHY ************/
h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

.text-lg {
    font-size: 16px;
}

.text {
    font-size: 14px;
}

.text-sm {
    font-size: 12px;
}

/*********** COLORS ************/
.bg-green-light {
    background-color: #E9F3E9;
}

.bg-green {
    background-color: #649D64;
}

/*********** COMPONENTS ************/
button {
    border-radius: 0px;
    border: 0px;
    padding: 5px;
    height: 40px !important;
    background-color: #649D64;
    color: white;
    font-size: 24px; /* h2 */
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #457b45;
}

button h2 {
    margin: 0px !important;
}

input {
    box-sizing: border-box;
    border-radius: 0px;
}

/*********** HEADER ************/
header {
    padding: 10px 25px;
    height: 80px;
    background: linear-gradient(90.4deg, #649D64 0%, rgba(100, 157, 100, 0) 100%), #FFFFFF;
    display: flex;
}

header * {
    margin: auto;
}

header nav {
    width: 100%;
    text-align: right;
}

header a {
    margin-right: 90px;
}

.header-icon {
    text-align: left;
}

/*********** CONTENT ************/
.content {
    height: calc(100% - 150px);
}

/*********** FOOTER ************/
footer {
    color: #649D64;
    height: 50px;
    padding: 0 40px;
    background-color: white;
    display: flex;
    width: calc(100% - 80px);
}

footer * {
    margin: auto;
}

.footer-title {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.footer-copyright {
    width: 100%;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    letter-spacing: 0.05em;
}

/*********** LOGIN ************/
.login-container {
    width: 40%;
    text-align: center;
    margin: 60px auto;
}

.login-container h1 {
    font-weight: bold;
}

.login-form {
    margin: 20px 25%;
    width: 50%;
    text-align: left;
}

.login-form * {
    margin: 10px 0 20px 0;
    width: 100%;
    height: 30px;
}

/*********** ACCOUNT ************/
.account-container {
    display: flex;
    padding-top: 60px;
}

.account-nav {
    width: 20%;
    height: 300px;
    text-align: center;
    border-right: 3px solid #C4C4C4;
}

.account-container nav a {
    text-decoration: underline;
    font-size: 18px;
    line-height: 3;
}

nav .selected {
    font-size: 24px !important;
    font-weight: bold;
}

.account-content {
    width: 80%;
    min-height: 200px;
}

.account-content nav a {
    margin-left: 80px;
}

#account-subscriptions {
    height: 250px;
    padding: 10px 20px;
    margin: 0 100px 0 50px;
}